html {
    padding: 0;
    margin: 0;
    width: 100vw;
}

body {
    background: linear-gradient(black, #c77556);
    background-size: cover;
    margin: 0;
    max-width: 100%;
    padding: 0;
}

header {
    display: flex;
    justify-content: center;
    background-color: #c77556;
    margin: 0;
}

#logo {
    height: 4vh;
    margin: 0
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#word-options {
    background-color: #f3cca2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: 0;
    margin-bottom: 2vh;
    padding: 0;
}

#word-bubble {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 70vw;
    margin: 0;
}

#back-img {
    width: 6vw;
}

#back-arrow {
    background-color: transparent;
    margin: 0;
    border: 0;
}

#next-img {
    width: 6vw;
}

#next-arrow {
    background-color: transparent;
    margin: 0;
    border: 0;
}

.word-choices {
    flex-grow: 1;
    flex-basis: 30%;
    text-align: center;
}

#word-options {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

#back-arrow {
    opacity: 0;
}

#game-graphic {
    width: 90vw;
    height: 35vh;
    margin-bottom: 2vh;
}

#notebook {
    display: grid;
    position: relative;
    width: 100vw;
    height: 20vh;
    grid-template-columns: 8vw 60vw 35vw;
    gap: 0px 2vw;
    margin-bottom: 2vh;
    /* align-items: center; */
}

#paper {
    position: relative;
    display: grid;
    width: 70vw;
    height: 20vh;
    grid-area: 1 / 1 / 2 / 3;
}

#selected-words {
    position: relative;
    display: grid;
    grid-area: 1 / 2 / 2 / 3;
    z-index: 2;
    margin: 1vh;
    grid-template-columns: 1fr 1fr;
    height: 20vh;
    padding: 0;
}

.word-bank {
    margin: 0;
    font-size: large;
    height: 4vh;
}

#send {
    grid-area: 1 / 3 / 2 / 4;
    padding: 0;
    background-color: transparent;
    border: 0;
    height: 20vh
}

#submit-words {
    width: 20vw;
}

#fin-img {
    height: 18vh;
}

footer {
    display: grid;
    position: relative;
    width: 100vw;
    grid-template-columns: 20vw 60vw 20vw;
    background-color: #f3cca2
}

#round-results {
    display: grid;
    grid-area: 1 / 2 / 2 / 3;
    position: relative;
    z-index: 2;
}

#new-round {
    opacity: 0;
}

#info {
    display: grid;
    margin: 0;
    grid-area: 1 / 2 / 2 / 3;
    position: relative;
}

@media screen and (min-width: 500px){
    body {
        /* width: 50%; */
        align-items: center;
    }

    header {
        height: 100px;
    }

    #word-options {
        width:550px;
        max-height: 200px;
        background: none;
    }

    #word-bubble {
        width: 400px;
        background-color: #f3cca2;
    }

    #back-img {
        width: 50px;
    }

    #next-img {
        width: 50px;
    }

    .word-choices {
        flex-basis: 25%;
    }

    #game-graphic {
        max-width: 400px;
    }

    #notebook {
        max-width: 500px;
        grid-template-columns: 50px 325px 125px
    }

    #paper {
        width: 375px;
    }

    #fin-image {
        width: 100px
    }

    footer {
        height: 100px;
        grid-template-columns: 1fr 500px 1fr;
        text-align: center;
        font-size: xx-large;
        padding: 0;
        height: 100px;
    }
}